# Core
pytest>=7.0
pytest-cov>=4.0

# Lint & formatting
flake8>=6.0
black>=24.0
mypy>=1.9

# Docs
sphinx>=7.0
sphinx-autodoc-typehints>=2.0
furo>=2024.2.10
sphinxcontrib-mermaid>=0.12

# Optional: para subir cobertura a Codecov
codecov>=2.1.0

